<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kenzack.applicationtest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.importer_image">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.acceuil" />
        <activity android:name=".View.formulaire" />
        <activity android:name=".View.upload_image" />
        <activity android:name=".View.publier" />
        <activity android:name=".View.consulter_image" />
        <activity android:name=".View.AudioRecordingActivity" />
        <activity android:name=".Notification" />
        <activity android:name=".View.sign2" />
        <activity
            android:name=".View.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>